body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u3183 {
  position:absolute;
  left:200px;
  top:0px;
  width:425px;
  height:850px;
}
#u3184 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u3185 {
  position:absolute;
  left:225px;
  top:96px;
  width:374px;
  height:22px;
}
#u3186 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3187 {
  position:absolute;
  left:225px;
  top:117px;
  width:375px;
  height:48px;
}
#u3188 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u3189 {
  position:absolute;
  left:240px;
  top:129px;
  width:15px;
  height:25px;
}
#u3190 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3191 {
  position:absolute;
  left:265px;
  top:125px;
  width:297px;
  height:32px;
}
#u3191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:32px;
  background-color:#E4E4E4;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3192 {
  position:absolute;
  left:225px;
  top:165px;
  width:375px;
  height:40px;
}
#u3193 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3194 {
  position:absolute;
  left:516px;
  top:177px;
  width:29px;
  height:16px;
}
#u3195 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3196 {
  position:absolute;
  left:264px;
  top:177px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u3197 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3198 {
  position:absolute;
  left:389px;
  top:177px;
  width:29px;
  height:16px;
}
#u3199 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3200 {
  position:absolute;
  left:426px;
  top:205px;
  width:375px;
  height:547px;
  overflow:hidden;
  visibility:hidden;
}
#u3200_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:547px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3200_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:548px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3201 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:548px;
  opacity:0.7;
}
#u3202 {
  position:absolute;
  left:2px;
  top:266px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3203 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u3204 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3205 {
  position:absolute;
  left:12px;
  top:15px;
  width:65px;
  height:30px;
  color:#FF0000;
}
#u3206 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u3207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3207 {
  position:absolute;
  left:84px;
  top:15px;
  width:65px;
  height:30px;
}
#u3208 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u3209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3209 {
  position:absolute;
  left:155px;
  top:15px;
  width:65px;
  height:30px;
}
#u3210 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u3211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3211 {
  position:absolute;
  left:227px;
  top:15px;
  width:65px;
  height:30px;
}
#u3212 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u3213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3213 {
  position:absolute;
  left:302px;
  top:15px;
  width:65px;
  height:30px;
}
#u3214 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u3215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u3215 {
  position:absolute;
  left:296px;
  top:176px;
  width:15px;
  height:8px;
}
#u3216 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u3217 {
  position:absolute;
  left:296px;
  top:187px;
  width:15px;
  height:8px;
}
#u3218 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u3219 {
  position:absolute;
  left:421px;
  top:182px;
  width:15px;
  height:8px;
}
#u3220 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u3221 {
  position:absolute;
  left:547px;
  top:182px;
  width:15px;
  height:8px;
}
#u3222 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3223 {
  position:absolute;
  left:567px;
  top:126px;
  width:30px;
  height:30px;
}
#u3224 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3225 {
  position:absolute;
  left:415px;
  top:210px;
  width:182px;
  height:287px;
}
#u3226 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u3227 {
  position:absolute;
  left:415px;
  top:210px;
  width:182px;
  height:182px;
}
#u3228 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3229 {
  position:absolute;
  left:229px;
  top:210px;
  width:182px;
  height:287px;
}
#u3230 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u3231 {
  position:absolute;
  left:229px;
  top:210px;
  width:182px;
  height:182px;
}
#u3232 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u3233 {
  position:absolute;
  left:235px;
  top:400px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u3234 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3235 {
  position:absolute;
  left:235px;
  top:443px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3236 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u3237 {
  position:absolute;
  left:421px;
  top:400px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u3238 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3239 {
  position:absolute;
  left:421px;
  top:443px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3240 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3241 {
  position:absolute;
  left:235px;
  top:471px;
  width:169px;
  height:16px;
  color:#666666;
}
#u3242 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3243 {
  position:absolute;
  left:421px;
  top:471px;
  width:169px;
  height:16px;
  color:#666666;
}
#u3244 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3245 {
  position:absolute;
  left:415px;
  top:502px;
  width:182px;
  height:287px;
}
#u3246 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u3247 {
  position:absolute;
  left:415px;
  top:502px;
  width:182px;
  height:182px;
}
#u3248 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3249 {
  position:absolute;
  left:229px;
  top:502px;
  width:182px;
  height:287px;
}
#u3250 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u3251 {
  position:absolute;
  left:229px;
  top:502px;
  width:182px;
  height:182px;
}
#u3252 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u3253 {
  position:absolute;
  left:235px;
  top:692px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u3254 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3255 {
  position:absolute;
  left:235px;
  top:735px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3256 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u3257 {
  position:absolute;
  left:421px;
  top:692px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u3258 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3259 {
  position:absolute;
  left:421px;
  top:735px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3260 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3261 {
  position:absolute;
  left:235px;
  top:763px;
  width:169px;
  height:16px;
  color:#666666;
}
#u3262 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3263 {
  position:absolute;
  left:421px;
  top:763px;
  width:169px;
  height:16px;
  color:#666666;
}
#u3264 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3265 {
  position:absolute;
  left:660px;
  top:179px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u3266 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u3267 {
  position:absolute;
  left:689px;
  top:177px;
  width:391px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u3268 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u3269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3269 {
  position:absolute;
  left:660px;
  top:318px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u3270 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u3271 {
  position:absolute;
  left:689px;
  top:316px;
  width:391px;
  height:345px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u3272 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
