body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1055px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u1108 {
  position:absolute;
  left:200px;
  top:0px;
  width:425px;
  height:850px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u1110 {
  position:absolute;
  left:225px;
  top:96px;
  width:374px;
  height:22px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:126px;
}
#u1112 {
  position:absolute;
  left:225px;
  top:118px;
  width:375px;
  height:126px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:55px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  position:absolute;
  left:225px;
  top:244px;
  width:375px;
  height:158px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:71px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 5px 2px rgba(242, 242, 242, 0.349019607843137) inset;
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 5px 2px rgba(242, 242, 242, 0.349019607843137) inset;
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 5px 2px rgba(242, 242, 242, 0.349019607843137) inset;
}
#u1116 {
  position:absolute;
  left:243px;
  top:232px;
  width:70px;
  height:70px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1118 {
  position:absolute;
  left:254px;
  top:243px;
  width:48px;
  height:48px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1120 {
  position:absolute;
  left:331px;
  top:254px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  position:absolute;
  left:421px;
  top:257px;
  width:53px;
  height:16px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1124 {
  position:absolute;
  left:268px;
  top:319px;
  width:187px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1125 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u1126 {
  position:absolute;
  left:243px;
  top:319px;
  width:15px;
  height:20px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1128 {
  position:absolute;
  left:578px;
  top:319px;
  width:12px;
  height:20px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1130 {
  position:absolute;
  left:243px;
  top:353px;
  width:347px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1131 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1132 {
  position:absolute;
  left:525px;
  top:369px;
  width:65px;
  height:16px;
  color:#FF0000;
  text-align:right;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1134 {
  position:absolute;
  left:331px;
  top:283px;
  width:259px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1139 {
  position:absolute;
  left:225px;
  top:409px;
  width:375px;
  height:48px;
  font-size:16px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:3px;
  background:inherit;
  background-color:rgba(66, 187, 84, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1141 {
  position:absolute;
  left:252px;
  top:454px;
  width:40px;
  height:3px;
  font-size:16px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1143 {
  position:absolute;
  left:225px;
  top:420px;
  width:93px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1145 {
  position:absolute;
  left:317px;
  top:420px;
  width:93px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1147 {
  position:absolute;
  left:414px;
  top:420px;
  width:93px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1149 {
  position:absolute;
  left:507px;
  top:420px;
  width:93px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:415px;
  top:461px;
  width:182px;
  height:287px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u1153 {
  position:absolute;
  left:415px;
  top:461px;
  width:182px;
  height:182px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  position:absolute;
  left:229px;
  top:461px;
  width:182px;
  height:287px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u1157 {
  position:absolute;
  left:229px;
  top:461px;
  width:182px;
  height:182px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1159 {
  position:absolute;
  left:235px;
  top:651px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1161 {
  position:absolute;
  left:235px;
  top:694px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1163 {
  position:absolute;
  left:421px;
  top:651px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1165 {
  position:absolute;
  left:421px;
  top:694px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1167 {
  position:absolute;
  left:235px;
  top:722px;
  width:169px;
  height:16px;
  color:#666666;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1169 {
  position:absolute;
  left:421px;
  top:722px;
  width:169px;
  height:16px;
  color:#666666;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1171 {
  position:absolute;
  left:415px;
  top:753px;
  width:182px;
  height:287px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u1173 {
  position:absolute;
  left:415px;
  top:753px;
  width:182px;
  height:182px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  position:absolute;
  left:229px;
  top:753px;
  width:182px;
  height:287px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:136px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u1177 {
  position:absolute;
  left:229px;
  top:753px;
  width:182px;
  height:182px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1179 {
  position:absolute;
  left:235px;
  top:943px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u1180 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1181 {
  position:absolute;
  left:235px;
  top:986px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1182 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1183 {
  position:absolute;
  left:421px;
  top:943px;
  width:169px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1185 {
  position:absolute;
  left:421px;
  top:986px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1187 {
  position:absolute;
  left:235px;
  top:1014px;
  width:169px;
  height:16px;
  color:#666666;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1189 {
  position:absolute;
  left:421px;
  top:1014px;
  width:169px;
  height:16px;
  color:#666666;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1191 {
  position:absolute;
  left:565px;
  top:257px;
  width:25px;
  height:25px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1193 {
  position:absolute;
  left:243px;
  top:126px;
  width:15px;
  height:25px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1195 {
  position:absolute;
  left:565px;
  top:126px;
  width:25px;
  height:25px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1197 {
  position:absolute;
  left:528px;
  top:126px;
  width:25px;
  height:25px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1199 {
  position:absolute;
  left:635px;
  top:128px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1201 {
  position:absolute;
  left:664px;
  top:126px;
  width:391px;
  height:307px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1203 {
  position:absolute;
  left:635px;
  top:481px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1204 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1205 {
  position:absolute;
  left:664px;
  top:479px;
  width:391px;
  height:79px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1207 {
  position:absolute;
  left:635px;
  top:639px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1208 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1209 {
  position:absolute;
  left:664px;
  top:637px;
  width:391px;
  height:193px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
