body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u7929 {
  position:absolute;
  left:200px;
  top:0px;
  width:425px;
  height:850px;
}
#u7930 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u7931 {
  position:absolute;
  left:225px;
  top:96px;
  width:374px;
  height:22px;
}
#u7932 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7933 {
  position:absolute;
  left:225px;
  top:117px;
  width:375px;
  height:48px;
}
#u7934 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7935 {
  position:absolute;
  left:376px;
  top:130px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u7936 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7937 {
  position:absolute;
  left:240px;
  top:129px;
  width:15px;
  height:25px;
}
#u7938 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939 {
  position:absolute;
  left:225px;
  top:164px;
  visibility:hidden;
}
#u7939_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7940 {
  position:absolute;
  left:0px;
  top:46px;
  width:376px;
  height:180px;
}
#u7941 {
  position:absolute;
  left:2px;
  top:82px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u7942 {
  position:absolute;
  left:0px;
  top:46px;
  width:376px;
  height:1px;
}
#u7943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7947 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  font-size:18px;
}
#u7948 {
  position:absolute;
  left:2px;
  top:15px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7949 {
  position:absolute;
  left:268px;
  top:42px;
  width:30px;
  height:4px;
  font-size:18px;
}
#u7950 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7951 {
  position:absolute;
  left:0px;
  top:10px;
  width:187px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7952 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u7953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u7953 {
  position:absolute;
  left:189px;
  top:10px;
  width:187px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u7954 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u7955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7955 {
  position:absolute;
  left:14px;
  top:64px;
  width:70px;
  height:70px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7957 {
  position:absolute;
  left:25px;
  top:75px;
  width:48px;
  height:48px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7959 {
  position:absolute;
  left:111px;
  top:88px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7960 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u7961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7961 {
  position:absolute;
  left:199px;
  top:91px;
  width:53px;
  height:16px;
}
#u7962 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u7963 {
  position:absolute;
  left:0px;
  top:155px;
  width:376px;
  height:1px;
}
#u7964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7965 {
  position:absolute;
  left:14px;
  top:181px;
  width:70px;
  height:70px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7967 {
  position:absolute;
  left:25px;
  top:192px;
  width:48px;
  height:48px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7969 {
  position:absolute;
  left:111px;
  top:205px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7970 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u7971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7971 {
  position:absolute;
  left:199px;
  top:208px;
  width:53px;
  height:16px;
}
#u7972 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u7973 {
  position:absolute;
  left:0px;
  top:272px;
  width:376px;
  height:1px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975 {
  position:absolute;
  left:225px;
  top:164px;
  width:376px;
  height:584px;
  overflow:hidden;
}
#u7975_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:584px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7975_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7976 {
  position:absolute;
  left:0px;
  top:-362px;
  width:376px;
  height:660px;
}
#u7977 {
  position:absolute;
  left:2px;
  top:322px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u7978 {
  position:absolute;
  left:0px;
  top:46px;
  width:376px;
  height:1px;
}
#u7979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7983 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  font-size:18px;
}
#u7984 {
  position:absolute;
  left:2px;
  top:15px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7985 {
  position:absolute;
  left:79px;
  top:42px;
  width:30px;
  height:4px;
  font-size:18px;
}
#u7986 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u7987 {
  position:absolute;
  left:0px;
  top:10px;
  width:187px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u7989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7989 {
  position:absolute;
  left:189px;
  top:10px;
  width:187px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7990 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7991 {
  position:absolute;
  left:0px;
  top:47px;
  width:375px;
  height:520px;
}
#u7992 {
  position:absolute;
  left:2px;
  top:252px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7993 {
  position:absolute;
  left:16px;
  top:62px;
  width:100px;
  height:100px;
}
#u7994 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7995 {
  position:absolute;
  left:126px;
  top:62px;
  width:233px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u7996 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7997 {
  position:absolute;
  left:126px;
  top:113px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7998 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u7999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u7999 {
  position:absolute;
  left:16px;
  top:177px;
  width:343px;
  height:1px;
}
#u8000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8001 {
  position:absolute;
  left:126px;
  top:146px;
  width:233px;
  height:16px;
  color:#666666;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8003 {
  position:absolute;
  left:16px;
  top:192px;
  width:100px;
  height:100px;
}
#u8004 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u8005 {
  position:absolute;
  left:126px;
  top:192px;
  width:233px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u8006 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8007 {
  position:absolute;
  left:126px;
  top:243px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8008 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u8009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u8009 {
  position:absolute;
  left:16px;
  top:307px;
  width:343px;
  height:1px;
}
#u8010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8011 {
  position:absolute;
  left:126px;
  top:276px;
  width:233px;
  height:16px;
  color:#666666;
}
#u8012 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8013 {
  position:absolute;
  left:16px;
  top:320px;
  width:100px;
  height:100px;
}
#u8014 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u8015 {
  position:absolute;
  left:126px;
  top:320px;
  width:233px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u8016 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8017 {
  position:absolute;
  left:126px;
  top:371px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8018 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u8019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u8019 {
  position:absolute;
  left:16px;
  top:435px;
  width:343px;
  height:1px;
}
#u8020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8021 {
  position:absolute;
  left:126px;
  top:404px;
  width:233px;
  height:16px;
  color:#666666;
}
#u8022 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8023 {
  position:absolute;
  left:16px;
  top:451px;
  width:100px;
  height:100px;
}
#u8024 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u8025 {
  position:absolute;
  left:126px;
  top:451px;
  width:233px;
  height:38px;
  font-size:16px;
  color:#000000;
}
#u8026 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8027 {
  position:absolute;
  left:126px;
  top:502px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8028 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u8029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8029 {
  position:absolute;
  left:126px;
  top:535px;
  width:233px;
  height:16px;
  color:#666666;
}
#u8030 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u8031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8031 {
  position:absolute;
  left:551px;
  top:129px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8032 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
