body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u12250 {
  position:absolute;
  left:200px;
  top:0px;
  width:425px;
  height:850px;
}
#u12251 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u12252 {
  position:absolute;
  left:225px;
  top:96px;
  width:374px;
  height:22px;
}
#u12253 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12254 {
  position:absolute;
  left:225px;
  top:165px;
  width:375px;
  height:48px;
}
#u12255 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12256 {
  position:absolute;
  left:255px;
  top:327px;
  width:316px;
  height:40px;
}
#u12257 {
  position:absolute;
  left:2px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u12256_ann {
  position:absolute;
  left:564px;
  top:323px;
  width:1px;
  height:1px;
}
#u12258 {
  position:absolute;
  left:356px;
  top:223px;
  width:236px;
  height:46px;
}
#u12258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12259 {
  position:absolute;
  left:240px;
  top:237px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12260 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12261 {
  position:absolute;
  left:225px;
  top:117px;
  width:375px;
  height:48px;
}
#u12262 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12263 {
  position:absolute;
  left:371px;
  top:129px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u12265 {
  position:absolute;
  left:240px;
  top:129px;
  width:15px;
  height:25px;
}
#u12266 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12267 {
  position:absolute;
  left:240px;
  top:180px;
  width:260px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12268 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12269 {
  position:absolute;
  left:660px;
  top:179px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12270 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u12271 {
  position:absolute;
  left:689px;
  top:177px;
  width:391px;
  height:212px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u12272 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
