body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u12354 {
  position:absolute;
  left:400px;
  top:0px;
  width:425px;
  height:850px;
}
#u12355 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u12356 {
  position:absolute;
  left:425px;
  top:96px;
  width:374px;
  height:22px;
}
#u12357 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12358 {
  position:absolute;
  left:426px;
  top:165px;
  width:374px;
  height:590px;
}
#u12359 {
  position:absolute;
  left:2px;
  top:287px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u12360 {
  position:absolute;
  left:439px;
  top:236px;
  width:349px;
  height:1px;
}
#u12360_img.selected {
}
#u12360.selected {
}
#u12361 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u12362 {
  position:absolute;
  left:439px;
  top:286px;
  width:349px;
  height:1px;
}
#u12362_img.selected {
}
#u12362.selected {
}
#u12363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12364 {
  position:absolute;
  left:439px;
  top:360px;
  width:349px;
  height:40px;
  font-size:16px;
}
#u12365 {
  position:absolute;
  left:2px;
  top:10px;
  width:345px;
  word-wrap:break-word;
}
#u12366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 203, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12366 {
  position:absolute;
  left:675px;
  top:191px;
  width:113px;
  height:40px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u12368 {
  position:absolute;
  left:439px;
  top:196px;
  width:226px;
  height:30px;
}
#u12368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12369 {
  position:absolute;
  left:439px;
  top:247px;
  width:226px;
  height:30px;
}
#u12369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u12370 {
  position:absolute;
  left:439px;
  top:338px;
  width:349px;
  height:1px;
}
#u12370_img.selected {
}
#u12370.selected {
}
#u12371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372 {
  position:absolute;
  left:439px;
  top:299px;
  width:226px;
  height:30px;
}
#u12372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12373 {
  position:absolute;
  left:439px;
  top:410px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12374 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12375 {
  position:absolute;
  left:501px;
  top:727px;
  width:225px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12376 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u12377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12377 {
  position:absolute;
  left:425px;
  top:117px;
  width:375px;
  height:48px;
}
#u12378 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12379 {
  position:absolute;
  left:598px;
  top:130px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12380 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u12381 {
  position:absolute;
  left:441px;
  top:130px;
  width:15px;
  height:25px;
}
#u12382 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
}
#u12383 {
  position:absolute;
  left:886px;
  top:174px;
  width:420px;
  height:152px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:16px;
}
#u12384 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u12385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12385 {
  position:absolute;
  left:859px;
  top:174px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u12386 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u12387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12387 {
  position:absolute;
  left:886px;
  top:360px;
  width:300px;
  height:146px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:65px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12389 {
  position:absolute;
  left:940px;
  top:401px;
  width:193px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12390 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12391 {
  position:absolute;
  left:886px;
  top:456px;
  width:150px;
  height:50px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u12393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFCB4C;
}
#u12393 {
  position:absolute;
  left:1035px;
  top:456px;
  width:151px;
  height:50px;
  color:#FFCB4C;
}
#u12394 {
  position:absolute;
  left:2px;
  top:17px;
  width:147px;
  word-wrap:break-word;
}
