body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:850px;
}
#u10907 {
  position:absolute;
  left:200px;
  top:0px;
  width:425px;
  height:850px;
}
#u10908 {
  position:absolute;
  left:2px;
  top:417px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:22px;
}
#u10909 {
  position:absolute;
  left:225px;
  top:96px;
  width:374px;
  height:22px;
}
#u10910 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10911 {
  position:absolute;
  left:225px;
  top:119px;
  width:375px;
  height:46px;
}
#u10912 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u10913 {
  position:absolute;
  left:242px;
  top:129px;
  width:15px;
  height:25px;
}
#u10914 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10915 {
  position:absolute;
  left:367px;
  top:131px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10916 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10917 {
  position:absolute;
  left:225px;
  top:166px;
  width:375px;
  height:89px;
}
#u10918 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10919 {
  position:absolute;
  left:242px;
  top:188px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u10920 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10921 {
  position:absolute;
  left:242px;
  top:217px;
  width:127px;
  height:16px;
  color:#666666;
}
#u10922 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u10923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10923 {
  position:absolute;
  left:225px;
  top:265px;
  width:375px;
  height:89px;
}
#u10924 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10925 {
  position:absolute;
  left:271px;
  top:287px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u10926 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10927 {
  position:absolute;
  left:271px;
  top:316px;
  width:257px;
  height:16px;
  color:#666666;
}
#u10928 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u10929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u10929 {
  position:absolute;
  left:236px;
  top:300px;
  width:25px;
  height:19px;
}
#u10930 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u10931 {
  position:absolute;
  left:557px;
  top:300px;
  width:25px;
  height:20px;
}
#u10932 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10933 {
  position:absolute;
  left:225px;
  top:706px;
  width:375px;
  height:48px;
}
#u10934 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
